*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: #263238;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  border-top: 0.5rem solid #607d8b;
  border-bottom: 0.5rem solid #607d8b;
}

h1{
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
}

table {
  text-align: left;
  white-space: nowrap;
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
}

table tr:hover {
  background-color: #eceff1;
}

table tr .indexcolicon a {
  border: none;
}

main {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 56rem;
}

a {
  color: #303F9F;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 2rem 0;
}

.title .js-path a {
  padding: 0 0.25rem 0;
  text-decoration: none;
}

.title .js-path a:hover {
  opacity: 1;
}

footer {
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.875rem;
}

footer a {
  color: #546e7a;
}

.even-parentdir .indexcolname a{
  position: relative;
  color:transparent;
}
.even-parentdir .indexcolname a::after{
  content:'..';
  position:absolute;
  left: .75rem;
  color:#303F9F;
}

address{
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
