body {
  background-color: #212121;
  border-top: 0.5rem solid #424242;
  border-bottom: 0.5rem solid #424242;
  color: #eeeeee;
}

table tr:hover {
  background-color: #424242;
}

a {
  color: #82b1ff;
}
