* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: #404040;
  font-size: 16px;
  font-family: Roboto, Ubuntu, 'Open Sans', sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  border-top: 10px solid #7f8c8d;
  border-bottom: 10px solid #7f8c8d;
}

main {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1120px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  display: flex;
  flex-wrap: wrap;
}

tr {
  width: 120px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

tr:hover {
  background-color: #ddd;
}

tr.parent {
  font-weight: 500;
}

tr.indexhead {
	display: none;
}

tr td {
  display: flex;
  padding: 0;
}

td.indexcolname a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td.indexcollastmod,
td.indexcolsize {
  display: none;
}

td a {
	color: #2980b9;
	text-decoration: none;
  padding: 8px;
  flex: 1;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  color: #9099A3;
}





@media only screen and (min-width: 320px) {
  main {
    max-width: 280px;
  }
}

@media only screen and (min-width: 480px) {
  main {
    max-width: 420px;
  }
}


@media only screen and (min-width: 640px) {
  main {
    max-width: 560px;
  }
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1280px) {
  main {
    max-width: 1120px;
  }
}
