@import 'common.css';

table tbody {
  display: flex;
  flex-wrap: wrap;
}

table{
  margin-top: 2rem;
}

td a {
  display:block;
  text-decoration: none;
  padding-bottom: .5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

td img{
  padding-top: .5rem;
}

td{
  padding: 1rem;
}

.even-parentdir .indexcolname a::after{
  left: 1.25rem;
}

table tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 6.5rem;
}

table tr.indexhead,
table tr .indexcollastmod,
table tr .indexcolsize {
  display: none;
}

table tr .indexcolicon img {
  max-width: 100%;
}

table td {
  padding: 0;
}

table tr .indexcolname a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 5.5rem;
}

table tr .indexcolname a,
table tr .indexcolname a:hover {
  border: none;
}

table tr .indexcolname {
  font-size: 0.875rem;
  padding-top: 0.125rem;
}
