* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  color: #61666c;
  font-size: 16px;
  font-family: Roboto, Ubuntu, 'Open Sans', sans-serif;
  line-height: 2em;
  border-top: 10px solid #7f8c8d;
  border-bottom: 10px solid #7f8c8d;
}

body {
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
}

.wrapper {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1000px;
}

.block {
  margin: 20px 0;
  padding: 20px;
  color: #9099A3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.parent {
  font-weight: 500;
}

tr.indexhead, tr.odd {
	background-color: #F9F9F9;
}

th {
  text-align: left;
	font-size: 1.05em;
  padding: 5px 10px;
}

th, td {
	border: 1px solid #dddddd;
}

th + th {
  width: 70%;
}

th + th + th + th {
  width: 5%;
}

td {
  padding: 5px 10px;
  vertical-align: middle;
  text-align: left;
}

td a {
  display: block;
}

tr a {
	color: #2980b9;
	text-decoration: none;
}

tr a:hover {
	text-decoration: underline;
}

img {
  height: 35px;
}

.footer {
  text-align: center;
}
