# Indexing

Options +Indexes

	# INDEX OPTIONS
	IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription -SuppressSize -SuppressLastModified +NameWidth=* +IconsAreLinks

  # META VIEWPORT
  IndexHeadInsert "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />"
  IndexIgnore .htaccess .??* *~ *# HEADER* README* RCS CVS *,v *,t *.inc*

# GENERAL ICONS (BLANK, DIRECTORY, PARENT DIRECTORY)

	AddIcon /{SOME_FOLDER}/icons/blank.svg ^^BLANKICON^^
	AddIcon /{SOME_FOLDER}/icons/folder.svg ^^DIRECTORY^^
	AddIcon /{SOME_FOLDER}/icons/folder-home.svg ..
	
	#AddIconByType (TXT,/{SOME_FOLDER}/icons/text.svg) text/*
	AddIconByType (IMG,/{SOME_FOLDER}/icons/img.svg) image/*
	AddIconByType (SND,/{SOME_FOLDER}/icons/audio.svg) audio/*
	AddIconByType (VID,/{SOME_FOLDER}/icons/video.svg) video/*

#
# EXTENSION SPECIFIC ICONS
#

	AddIcon /{SOME_FOLDER}/icons/archive.svg .zip .7z .bz2 .cab .gz .tar .rar
	AddIcon /{SOME_FOLDER}/icons/audio.png .aac .aif .aifc .aiff .ape .au .flac .iff .m4a .mid .mp3 .mpa .ra .wav .wma .f4a .f4b .oga .ogg .xm .it .s3m .mod
	AddIcon /{SOME_FOLDER}/icons/bin.svg .bin .hex
	AddIcon /{SOME_FOLDER}/icons/code.svg .xml
	AddIcon /{SOME_FOLDER}/icons/doc.svg .doc .docx .docm .dot .dotx .dotm .log .msg .odt .pages .rtf .tex .wpd .wps
	AddIcon /{SOME_FOLDER}/icons/img.svg .bmp .png .tiff .tif .gif .jpg .jpeg .jpe .psd .ai .ico
	AddIcon /{SOME_FOLDER}/icons/spreadsheet.svg .xlsx .xlsm .xltx .xltm .xlam .xlr .xls .csv
	AddIcon /{SOME_FOLDER}/icons/presentation.svg .ppt .pptx .pot .potx .pptm .potm .xps
	AddIcon /{SOME_FOLDER}/icons/c++.svg .cpp
	AddIcon /{SOME_FOLDER}/icons/c.svg .c
	AddIcon /{SOME_FOLDER}/icons/css3.svg .css .sass .scss .less
	AddIcon /{SOME_FOLDER}/icons/font.svg .ttf .TTF .woff .WOFF .woff2 .WOFF2 .otf .OTF
	AddIcon /{SOME_FOLDER}/icons/h.svg .h
	AddIcon /{SOME_FOLDER}/icons/html5.svg .html .xhtml .shtml .htm .URL .url
	AddIcon /{SOME_FOLDER}/icons/info.svg .md
	AddIcon /{SOME_FOLDER}/icons/iso.svg .iso .img
	AddIcon /{SOME_FOLDER}/icons/java.svg .jar
	AddIcon /{SOME_FOLDER}/icons/js.svg .js .json
	AddIcon /{SOME_FOLDER}/icons/markdown.svg .md
  AddIcon /{SOME_FOLDER}/icons/package.svg .pkg .dmg .rpm .deb
	AddIcon /{SOME_FOLDER}/icons/pdf.svg .pdf
	AddIcon /{SOME_FOLDER}/icons/php.svg .php .phtml
	AddIcon /{SOME_FOLDER}/icons/py.svg .py
	AddIcon /{SOME_FOLDER}/icons/rb.svg .rb
	AddIcon /{SOME_FOLDER}/icons/script.svg .bat .BAT .cmd .sh .ps .exe .EXE .msi .MSI
	AddIcon /{SOME_FOLDER}/icons/sql.svg .sql
	AddIcon /{SOME_FOLDER}/icons/text.svg .txt .nfo
	AddIcon /{SOME_FOLDER}/icons/vector.svg .svg .svgz
	AddIcon /{SOME_FOLDER}/icons/video.svg .asf .asx .avi .flv .mkv .mov .mp4 .mpg .rm .srt .swf .vob .wmv .m4v .f4v .f4p .ogv
	DefaultIcon /{SOME_FOLDER}/icons/unknown.svg

#
# THEME FILES
#

	HeaderName /{SOME_FOLDER}/header.html
	ReadmeName /{SOME_FOLDER}/footer.html
	IndexStyleSheet "/{SOME_FOLDER}/table.css"